
<h3>店铺列表</h3>
<table id="sellers" class="table table-bordered">
  <thead>
    <tr>
      <th>店铺名称</th>
      <th>大促</th>
      <th>#</th>
    </tr>
  <thead>
  <% unless @sellers.empty? %>
    <tbody>
    <% @sellers.each do |seller| %>
        <tr>
          <td><%= link_to seller.seller_nick, seller.store_url %></td>
          <td>
            <% unless seller.campaigns.campaigning.empty? %>
              <ul class='nav nav-list'>
              <% seller.campaigns.campaigning.each do |campaign| %>
                <li><%= link_to campaign.name, url(:sellers, :show, seller_id: seller._id, campaign_id: campaign._id) %></li>
              <% end %>
              </ul>
            <% end %>
          </td>
          <td><%= link_to '全部货品', url(:sellers, :show, seller_id: seller._id) %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="3">没货品～～</td>
    </tr>
  <% end %>
</table>